h1 {
    color: red;
    font: Gorgia;
    padding: 2rem;
}

img {
    width: 25rem;
    display: block;
}
figure {
    
}

dl { 
    border: 1px solid red;
/*
    This is a clearfix
    It reminds the <dl> to wrap around all its floated children
*/
    overflow: hidden;
}
    
dt {
    float: left;
    clear: left;
    width: 8rem;
}
    
dd {
    float: left;
    margin: 0;
    padding: 0;
}

    